.button--login{
    background-color: #1DB954;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    padding: 15px 35px;
}

.button--login:hover{
    background-color: #199b47;
    transform: scale(2);
}

.playlist-cover{
    box-shadow: 7px 7px 5px #ccc;
}

.animated-playlists{
    animation: moveSlideShow 15s linear infinite;
    width: 200%;
}

.animated-playlists img{
    margin: 1% 1%
}

.bounce{
    animation: bounce 2s linear infinite;
    object-fit: contain;
    width: 100%;
}

@keyframes moveSlideShow {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}